@use '../utils/' as *;

.input-container {
  position: relative;
  width: min(100%, 30rem);
  color: var(--grey-400);

  &__icon {
    position: absolute;
    top: 50%;
    left: var(--space-400);
    transform: translateY(-50%);
    width: var(--space-200);
    height: var(--space-200);
    fill: currentColor;
  }
}

.input {
  @include dropShadow;
  @include preset('5-regular');
  border: none;
  height: var(--space-700);
  border-radius: var(--space-50);
  padding-inline-start: var(--space-900);
  display: flex;
  background-color: var(--clr-filter-bg);
  width: 100%;
  color: var(--clr-button-txt);

  &::placeholder {
    color: var(--grey-400);
  }

  &:focus {
    @include dropShadowBig;
    outline: 0;
  }
}
